.modalContainer {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  z-index: 30;
  align-items: center;
  cursor: pointer;
}
.modalDiv {
  position: relative;
  cursor: default;
}
.modalBtn {
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 2.4rem;
  color: gray;
}

.modalBtn:hover {
  color: rgb(67, 67, 67);
}