@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: #e6e6e6;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  [placeholder]:empty::before {
    content: attr(placeholder);
    color: rgb(156 163 175);
    cursor: text;
  }
  .delay-after::after {
    animation-delay: 0.5s;
  }
  ul {
    list-style-type: square;
  }
  [placeholder]:empty:focus::before {
    content: "";
  }
}

@layer utilities {
  .content-editable {
    @apply outline-none focus:border-b;
  }
  .content-editable-dashed {
    @apply outline-none focus:border-b focus:border-dashed;
  }
  .btn {
    @apply flex items-center justify-center bg-white py-2 px-4 duration-75 shadow rounded-full hover:shadow-md active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .custom-btn {
    @apply flex items-center justify-center py-2 px-4 duration-75 shadow rounded-full hover:shadow-md active:scale-95;
  }
  .rounded-btn-8 {
    @apply w-8 h-8 flex justify-center items-center text-sm duration-75 shadow rounded-full hover:shadow-md active:scale-95;
  }
  .rounded-btn-10 {
    @apply w-10 h-10 bg-white flex justify-center items-center duration-75 shadow rounded-full hover:shadow-md active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .h2 {
    @apply text-2xl font-semibold uppercase my-4;
  }
  .input-primary {
    @apply outline-none empty:border-b focus:border-b text-xl text-gray-800;
  }
  .input-secondary {
    @apply outline-none empty:border-b focus:border-b text-xl text-gray-700;
  }
  .input-tertiary {
    @apply outline-none empty:border-b focus:border-b text-lg text-gray-700;
  }
  .input-container {
    @apply w-full flex items-center before:mr-2;
  }
  .input {
    @apply outline-none empty:border-b focus:border-b text-gray-600;
  }
  .input-small {
    @apply outline-none empty:border-b focus:border-b text-xs text-gray-500;
  }
  .date {
    @apply outline-none;
  }
  .desc-heading {
    @apply italic text-gray-500;
  }
}
