@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background: #e6e6e6;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  [placeholder]:empty::before {
    content: attr(placeholder);
    color: rgb(156 163 175);
    cursor: text;
  }
  .delay-after::after {
    animation-delay: 0.5s;
  }
  [placeholder]:empty:focus::before {
    content: '';
  }
  ::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(230, 230, 230);
  }
}

@layer utilities {
  .content-editable {
    @apply outline-none focus:border-b;
  }
  .content-editable-dashed {
    @apply outline-none focus:border-b focus:border-dashed;
  }
  .btn {
    @apply flex whitespace-nowrap items-center justify-center bg-white py-2 px-4 duration-75 shadow rounded-full hover:shadow-md active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .custom-btn {
    @apply flex items-center whitespace-nowrap justify-center py-2 px-4 duration-75 shadow rounded-full hover:shadow-md active:scale-95;
  }
  .rounded-btn-8 {
    @apply w-8 h-8 flex justify-center items-center text-sm duration-75 shadow rounded-full hover:shadow-md active:scale-95;
  }
  .rounded-btn-10 {
    @apply w-10 h-10 bg-white flex justify-center items-center text-gray-800 duration-75 shadow rounded-full hover:shadow-md active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
  }
  .h2 {
    @apply text-2xl font-semibold uppercase;
  }
  .input-primary {
    @apply outline-none font-semibold empty:border-b focus:border-b text-xl text-gray-800;
  }
  .input-secondary {
    @apply outline-none empty:border-b focus:border-b text-xl text-gray-600;
  }
  .input-tertiary {
    @apply outline-none empty:border-b focus:border-b text-lg text-gray-700;
  }
  .input-container {
    @apply w-full flex flex-col items-center space-y-2;
  }
  .p {
    @apply outline-none empty:border-b focus:border-b text-gray-600;
  }
  .input-small {
    @apply outline-none empty:border-b focus:border-b text-xs text-gray-500;
  }
  .date {
    @apply outline-none;
  }
  .desc-heading {
    @apply italic text-gray-500 self-start;
  }
  .desc-content {
    @apply text-gray-700 w-full border-dashed empty:border-b;
  }
  .tiny-heading {
    @apply italic border-b self-start text-gray-600;
  }
  .short-section {
    @apply px-2 py-1 mr-4 my-2 rounded-lg text-center text-lg inline-block min-w-[6rem];
  }
  .short-section-border {
    @apply short-section border;
  }
  .short-section-fill-dark {
    @apply short-section bg-gray-600 text-white;
  }
  .short-section-fill-light {
    @apply short-section bg-gray-200 text-black;
  }

  .layout-item {
    @apply text-white text-xl capitalize py-4 cursor-grab select-none overflow-hidden font-semibold flex items-center justify-center rounded-xl;
  }
  /* * list style * */
  .list-style-circle-border::before {
    @apply flex items-center content-[''] border-[2px] w-1 h-1 rounded-full mr-2 bg-black outline-black outline outline-1 border-white p-1;
  }
  .list-style-square-border::before {
    @apply flex items-center content-[''] border-[2px] w-1 h-1 mr-2 bg-black outline-black outline outline-1 border-white p-1;
  }
  .list-style-circle::before {
    @apply flex items-center content-[''] rounded-full mr-2 bg-black p-1;
  }
  .list-style-square::before {
    @apply flex items-center content-[''] mr-2 bg-black p-1;
  }
  .list-style-dash::before {
    @apply flex items-center content-['']
  }
  .custom-list-style-arrow::before {
    @apply content-["»"] flex items-center mr-2;
  }
  .custom-list-style-dash::before {
    @apply content-["—"] flex items-center mr-2;
  }
  .custom-list-style-orange-square-s::before {
    @apply content-["🔸"] flex items-center mr-2;
  }
  .custom-list-style-100::before {
    @apply content-["💯"] flex items-center mr-2;
  }
  .custom-list-style-star::before {
    @apply content-["✨"] flex items-center mr-2;
  }
  .custom-list-style-medal-gold::before {
    @apply content-["🏅"] flex items-center mr-2;
  }
  .custom-list-style-pin::before {
    @apply content-["🎯"] flex items-center mr-2;
  }
  .custom-list-style-medal-military::before {
    @apply content-["🥇"] flex items-center mr-2;
  }
  .custom-list-style-medal-military::before {
    @apply content-[""] flex items-center mr-2;
  }
}
